{% extends 'medicament/document_form.html' %}
{% block monitorform %}
       <table class="table" id="table1" cellpadding="1" cellspacing="0">
	     <thead>
		   <tr>
		    <th>Показатель</th>
		    <th>Строка</th>
		    <th width="10%">Всего</th>
		    <th width="10%">Дети(0-18), Всего</th>
		    <th width="10%">В т.ч дети до 3-х лет</th>
		    <th width="10%">Мужчины старше 60, женщины старше 55</th>
		    <th width="10%">Инвалиды и участники ВОВ*</th>
		    <th width="10%">Сахарный диабет</th>
		    <th width="10%">Бронхиаль<wbr>ная астма</th>
		    <th width="10%">Онкологи<wbr>ческие заболевания</th>
		   </tr>
		   <tr>
		    <th>1</th>
		    <th>2</th>
		    <th>3</th>
		    <th>4</th>
		    <th>5</th>
		    <th>6</th>
		    <th>7</th>
		    <th>8</th>
		    <th>9</th>
		    <th>10</th>
		   </tr>
		 </thead>
		 <tbody>
		   <tr>
		        <th class="row_mess" colspan="10" >Высокозатратные нозологии (в соответствии с постановлением Правительства Российской Федерации от 18.10.2007 № 682)</th>
		   </tr>
		   <tr>
		        <td  width="15%"><h6>Выписано рецептов**</h6></td>
				<td style="text-align:center">1</td>
		        <td><input type="number" id="r1_c3" name="c1_1" min="0" size="7" value="{{doc.c1_1}}"></td>
		        <td><input type="number" id="r1_c4" name="c1_2" min="0" size="6" value="{{doc.c1_2}}"></td>
		        <td><input type="number" id="r1_c5" name="c1_3" min="0" size="6" value="{{doc.c1_3}}"></td>
		        <td><input type="number" id="r1_c6" name="c1_4" min="0" size="6" value="{{doc.c1_4}}"></td>
		        <td><input type="number" id="r1_c7" name="c1_5" min="0" size="6" value="{{doc.c1_5}}"></td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
           {% if right_control and doc_prev %}
		   <tr class="old_period">
		        <td width="15%"><h6>Прошлый период</h6></td>
				<td style="text-align:center">1.1</td>
		        <td id="prev_r1_c3" class="prev">{{doc_prev.c1_1}}</td>
		        <td id="prev_r1_c4" class="prev">{{doc_prev.c1_2}}</td>
		        <td id="prev_r1_c5" class="prev">{{doc_prev.c1_3}}</td>
		        <td id="prev_r1_c6" class="prev">{{doc_prev.c1_4}}</td>
		        <td id="prev_r1_c7" class="prev">{{doc_prev.c1_5}}</td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
		   </tr>
           {% endif %}
		   </tr>
		   <tr>
		        <th class="row_mess" colspan="10" >Федеральное обеспечение</th>
		   </tr>
		   
		   <tr>
		        <td><h6>Численность категории льготополучателей</h6></td>
		        <td style="text-align:center">2</td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
		        <td><input type="number" id="r2_c8" name="c2_6" min="0" step="1" size="6" value="{{doc.c2_6}}"></td>
		        <td><input type="number" id="r2_c9" name="c2_7" min="0" step="1" size="6" value="{{doc.c2_7}}"></td>
		        <td><input type="number" id="r2_c10" name="c2_8" min="0" step="1" size="6" value="{{doc.c2_8}}"></td>
		   </tr>
           {% if right_control and doc_prev %}
		   <tr class="old_period">
		        <td  width="15%"><h6>Прошлый период</h6></td>
				<td style="text-align:center">2.1</td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
		        <td style="text-align:center">X</td>
		        <td id="prev_r2_c8" class="prev">{{doc_prev.c2_6}}</td>
		        <td id="prev_r2_c9" class="prev">{{doc_prev.c2_7}}</td>
		        <td id="prev_r2_c10" class="prev">{{doc_prev.c2_8}}</td>
		   </tr>
           {% endif %}
		   </tr>
		   <tr>
		        <td><h6> Выписано рецептов**</h6></td>
				<td style="text-align:center">3</td>
		        <td><input type="number" id="r3_c3" name="c3_1" min="0" step="1" size="6" value="{{doc.c3_1}}"></td>
		        <td><input type="number" id="r3_c4" name="c3_2" min="0" step="1" size="6" value="{{doc.c3_2}}"></td>
		        <td><input type="number" id="r3_c5" name="c3_3" min="0" step="1" size="6" value="{{doc.c3_3}}"></td>
		        <td><input type="number" id="r3_c6" name="c3_4" min="0" step="1" size="6" value="{{doc.c3_4}}"></td>
		        <td><input type="number" id="r3_c7" name="c3_5" min="0" step="1" size="6" value="{{doc.c3_5}}"></td>
		        <td><input type="number" id="r3_c8" name="c3_6" min="0" step="1" size="6" value="{{doc.c3_6}}"></td>
		        <td><input type="number" id="r3_c9" name="c3_7" min="0" step="1" size="5" value="{{doc.c3_7}}"></td>
		        <td><input type="number" id="r3_c10" name="c3_8" min="0" step="1" size="4" value="{{doc.c3_8}}"></td>
		   </tr>
           {% if right_control and doc_prev %}
		   <tr class="old_period">
		        <td  width="15%"><h6>Прошлый период</h6></td>
				<td style="text-align:center">3.1</td>
		        <td id="prev_r3_c3" class="prev">{{doc_prev.c3_1}}</td>
		        <td id="prev_r3_c4" class="prev">{{doc_prev.c3_2}}</td>
		        <td id="prev_r3_c5" class="prev">{{doc_prev.c3_3}}</td>
		        <td id="prev_r3_c6" class="prev">{{doc_prev.c3_4}}</td>
		        <td id="prev_r3_c7" class="prev">{{doc_prev.c3_5}}</td>
		        <td id="prev_r3_c8" class="prev">{{doc_prev.c3_6}}</td>
		        <td id="prev_r3_c9" class="prev">{{doc_prev.c3_7}}</td>
		        <td id="prev_r3_c10" class="prev">{{doc_prev.c3_8}}</td>
		   </tr>
           {% endif %}
		   <tr >
		        <th class="row_mess" colspan="10" >Региональное обеспечение</th>
		   </tr>
		   <tr>
		        <td><h6> Выписано рецептов**</h6></td>
				<td style="text-align:center">4</td>
		        <td><input type="number" id="r4_c3" name="c4_1" min="0" step="1" size="5" value="{{doc.c4_1}}"></td>
		        <td><input type="number" id="r4_c4" name="c4_2" min="0" step="1" size="5" value="{{doc.c4_2}}"></td>
		        <td><input type="number" id="r4_c5" name="c4_3" min="0" step="1" size="5" value="{{doc.c4_3}}"></td>
		        <td><input type="number" id="r4_c6" name="c4_4" min="0" step="1" size="5" value="{{doc.c4_4}}"></td>
		        <td><input type="number" id="r4_c7" name="c4_5" min="0" step="1" size="5" value="{{doc.c4_5}}"></td>
		        <td><input type="number" id="r4_c8" name="c4_6" min="0" step="1" size="5" value="{{doc.c4_6}}"></td>
		        <td><input type="number" id="r4_c9" name="c4_7" min="0" step="1" size="5" value="{{doc.c4_7}}"></td>
		        <td><input type="number" id="r4_c10" name="c4_8" min="0" step="1" size="5" value="{{doc.c4_8}}"></td>
		   </tr>
           {% if right_control and doc_prev %}
		   <tr class="old_period">
		        <td width="15%"><h6>Прошлый период</h6></td>
				<td style="text-align:center">4.1</td>
		        <td id="prev_r4_c3" class="prev">{{doc_prev.c4_1}}</td>
		        <td id="prev_r4_c4" class="prev">{{doc_prev.c4_2}}</td>
		        <td id="prev_r4_c5" class="prev">{{doc_prev.c4_3}}</td>
		        <td id="prev_r4_c6" class="prev">{{doc_prev.c4_4}}</td>
		        <td id="prev_r4_c7" class="prev">{{doc_prev.c4_5}}</td>
		        <td id="prev_r4_c8" class="prev">{{doc_prev.c4_6}}</td>
		        <td id="prev_r4_c9" class="prev">{{doc_prev.c4_7}}</td>
		        <td id="prev_r4_c10" class="prev">{{doc_prev.c4_8}}</td>
		   </tr>
           {% endif %}
		 </tbody>
       </table>
{% endblock %}

