{% extends 'medicament/document_form.html' %}
{% block monitorform %}
 <br>
<ul class="tabs" data-tab="" role="tablist">
  <li class="tab-title active" role="presentational"><a href="#panel1" role="tab" tabindex="0" aria-selected="true" controls="panel1">Таблица 1000</a></li>
  <li class="tab-title" role="presentational"><a href="#panel2" role="tab" tabindex="-1" aria-selected="false" controls="panel2">Таблица 2000</a></li>
  <li class="tab-title" role="presentational"><a href="#panel3" role="tab" tabindex="-1" aria-selected="false" controls="panel3">Таблица 3000</a></li>
  <li class="tab-title" role="presentational"><a href="#panel4" role="tab" tabindex="-1" aria-selected="false" controls="panel4">Таблица 4000</a></li>
  <li class="tab-title" role="presentational"><a href="#panel5" role="tab" tabindex="-1" aria-selected="false" controls="panel5">Таблица 5000</a></li>
  <li class="tab-title" role="presentational"><a href="#panel6" role="tab" tabindex="-1" aria-selected="false" controls="panel6">Таблица 5001</a></li>
  <li class="tab-title" role="presentational"><a href="#panel7" role="tab" tabindex="-1" aria-selected="false" controls="panel7">Таблица 6000</a></li>
  <li class="tab-title" role="presentational"><a href="#panel8" role="tab" tabindex="-1" aria-selected="false" controls="panel8">Таблица 7000</a></li>
</ul>
<div class="tabs-content">
  <section role="tabpanel" aria-hidden="false" class="content active" id="panel1">
    <table class="table" id="table1" cellpadding="1" cellspacing="1">
          <thead>
            <tr>
              <th class="row_mess" colspan="13">Сведения о проведении диспансеризации определенных групп взрослого населения</th>
            </tr>
		    <tr>
	  		  <th rowspan="3">Возрастная группа</th>
	  		  <th colspan="4">Все население</th>
	  		  <th colspan="4">Мужчины</th>
	  		  <th colspan="4">Женщины</th>
		    </tr>
			<tr>
		  	  <th rowspan="2">Численность населения на 01.01 текущего года</th>
		  	  <th rowspan="2">Подлежит диспансеризации по плану текущего года</th>
		  	  <th colspan="2">Прошли диспансеризацию (чел.)</th>
		  	  <th rowspan="2">Численность населения на 01.01 текущего года</th>
		  	  <th rowspan="2">Подлежит диспансеризации по плану текущего года </th>
		  	  <th colspan="2">Прошли диспансеризацию (чел.)</th>
		  	  <th rowspan="2">Численность населения на 01.01 текущего года</th>
		  	  <th rowspan="2">Подлежит диспансеризации по плану текущего года</th>
		  	  <th colspan="2">Прошли диспансеризацию (чел.)</th>
			</tr>
			<tr>
		  	  <th width="8%">I этап</th>
		  	  <th width="8%">II этап </th>
		  	  <th width="8%">I этап</th>
		  	  <th width="8%">II этап </th>
		  	  <th width="8%">I этап</th>
		  	  <th width="8%">II этап </th>
			</tr>
	  	 </thead>
	  	 <tbody>
           {% for t in tab1000 %}
 		     <tr>
		       <td>{{t.row}}</td>
		       <td class="cal" id="t1000_r{{t.row.id}}_c1"></td>
		       <td class="cal" id="t1000_r{{t.row.id}}_c2"></td>
		       <td class="cal" id="t1000_r{{t.row.id}}_c3"></td>
		       <td class="cal" id="t1000_r{{t.row.id}}_c4"></td>
		       <td><input type="number" name="t1000_r{{t.row.id}}_c5" id="t1000_r{{t.row.id}}_c5" value="{{t.c5}}"></td>
		       <td><input type="number" name="t1000_r{{t.row.id}}_c6" id="t1000_r{{t.row.id}}_c6" value="{{t.c6}}"></td>
		       <td><input type="number" name="t1000_r{{t.row.id}}_c7" id="t1000_r{{t.row.id}}_c7" value="{{t.c7}}"></td>
		       <td><input type="number" name="t1000_r{{t.row.id}}_c8" id="t1000_r{{t.row.id}}_c8" value="{{t.c8}}"></td>
		       <td><input type="number" name="t1000_r{{t.row.id}}_c9" id="t1000_r{{t.row.id}}_c9" value="{{t.c9}}"></td>
		       <td><input type="number" name="t1000_r{{t.row.id}}_c10" id="t1000_r{{t.row.id}}_c10" value="{{t.c10}}"></td>
		       <td><input type="number" name="t1000_r{{t.row.id}}_c11" id="t1000_r{{t.row.id}}_c11" value="{{t.c11}}"></td>
		       <td><input type="number" name="t1000_r{{t.row.id}}_c12" id="t1000_r{{t.row.id}}_c12" value="{{t.c12}}"></td>
		     </tr>
           {% endfor %} 
         </tbody>
         <tfoot>
			<tr>
			  <td>Итого</td>
		      <td class="cal" id="t1000_rS_c1"></td>
		      <td class="cal" id="t1000_rS_c2"></td>
		      <td class="cal" id="t1000_rS_c3"></td>
		      <td class="cal" id="t1000_rS_c4"></td>
		      <td class="cal" id="t1000_rS_c5"></td>
		      <td class="cal" id="t1000_rS_c6"></td>
		      <td class="cal" id="t1000_rS_c7"></td>
		      <td class="cal" id="t1000_rS_c8"></td>
		      <td class="cal" id="t1000_rS_c9"></td>
		      <td class="cal" id="t1000_rS_c10"></td>
		      <td class="cal" id="t1000_rS_c11"></td>
		      <td class="cal" id="t1000_rS_c12"></td>
			</tr>
         </tfoot>
  	</table>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="panel2">
    <table class="table">
	  <thead>
		<tr>
		  <th class="row_mess" colspan="5">Сведения о первом этапе диспансеризации определенных групп взрослого населения </th>
		</tr>
		<tr>
		  <th rowspan="2" width="35%">Осмотр, исследование, иное медицинское мероприятие  первого этапа диспансеризации</th>
		  <th colspan="3">Медицинское мероприятие </th>
		  <th rowspan="2">Выявлены патологические отклонения </th>
		</tr>
		<tr>
		  <th width="15%">проведено</th>
		  <th width="18%">учтено, выполненных ранее (в предшествующие 12 мес.)</th>
		  <th width="15%">отказы</th>
		</tr>
	  </thead>
	  <tbody>
      {% for t in tab2000 %}
 		<tr>
		  <td>{{t.row}}</td>
		  <td><input type="number" name="t2000_r{{t.row.id}}_c1" value="{{t.c1}}"></td>
		  {% if t.row.id == 4 or t.row.id == 23 %}
		  <td class="none"></td>
		  <td class="none"></td>
		  {% else %}
		  <td><input type="number" name="t2000_r{{t.row.id}}_c2" value="{{t.c2}}"></td>
		  <td><input type="number" name="t2000_r{{t.row.id}}_c3" value="{{t.c3}}"></td>
		  {% endif %}
		  <td><input type="number" name="t2000_r{{t.row.id}}_c4" value="{{t.c4}}"></td>
		</tr>
      {% endfor %} 
      </tbody>
	</table>
    <hr>
	<p>* Врач-терапевт - включает врача-терапевта, врача-терапевта участкового, врача-терапевта цехового врачебного участка, врача общей практики (семейного врача)</p>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="panel3">
  	<table class="table">
	  <thead>
		<tr>
		  <th class="row_mess" colspan="6">Сведения о втором этапе диспансеризации определенных групп взрослого населения</th>
		</tr>
		<tr>
		  <th rowspan="2">Медицинское мероприятие второго этапа диспансеризации</th>
		  <th rowspan="2" width="12%">Выявлено показание к дополнительному обследованию  </th>
		  <th colspan="2">Количество выполненных медицинских мероприятий</th>
		  <th rowspan="2" width="12%">Отказы</th>
		  <th rowspan="2">Выявлено заболеваний</th>
		</tr>
		<tr>
		  <th width="12%">в рамках диспансе-ризации</th>
		  <th width="12%">проведено ранее (в предшествую-щие 12 мес.) </th> 
		</tr>
	  </thead>
	  <tbody>
      {% for t in tab3000 %}
 		<tr>
		  <td>{{t.row}}</td>
		  <td><input type="number" name="t3000_r{{t.row.id}}_c1" id="t3000_r{{t.row.id}}_c1" value="{{t.c1}}"></td>
		  <td><input type="number" name="t3000_r{{t.row.id}}_c2" id="t3000_r{{t.row.id}}_c2" value="{{t.c2}}"></td>
		  <td><input type="number" name="t3000_r{{t.row.id}}_c3" id="t3000_r{{t.row.id}}_c3" value="{{t.c3}}"></td>
		  <td><input type="number" name="t3000_r{{t.row.id}}_c4" id="t3000_r{{t.row.id}}_c4" value="{{t.c4}}"></td>
		  {% if t.row.id == 37 or t.row.id == 38 %}
		  <td class="none"></td>
		  {% else %}
		  <td><input type="number" name="t3000_r{{t.row.id}}_c5" id="t3000_r{{t.row.id}}_c5" value="{{t.c5}}"></td>
		  {% endif %}
		</tr>
      {% endfor %} 
	  </tbody>
	  <tfoot>
		<tr>
		  <td>Всего</td>
		  <td id="t3000_rS_c1" class="cal"></td>
		  <td id="t3000_rS_c2" class="cal"></td>
		  <td id="t3000_rS_c3" class="cal"></td>
		  <td id="t3000_rS_c4" class="cal"></td>
		  <td id="t3000_rS_c5" class="cal"></td>
		</tr>
	  </tfoot>
	</table>
    <hr>
    <table>
      <tr>
        <td style="border-right: 0">3001 По результатам осмотра врачом-неврологом и дуплексного сканирования брахицефальных артерий выявлено медицинское показание для направления и направлено к врачу-сердечно-сосудистому хирургу:</td>
        <td style="border-right: 0"><input type="number" name="t3001" value="{{doc.t3001}}"></td>
        <td style="vertical-align: middle">чел.</td>
      </tr>
    </table>
	<p>* Врач-терапевт - включает врача-терапевта, врача-терапевта участкового, врача-терапевта цехового врачебного участка, врача общей практики (семейного врача)</p>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="panel4">
    <table class="table">
	  <thead>
		<tr>
		  <th  class="row_mess" colspan="14">Сведения о выявленных отдельных факторах риска развития хронических неинфекционных заболеваний,<br> не являющихся заболеваниями, в соответствии с кодами МКБ-10 **</th>
		</tr>
		<tr>
		  <th rowspan="2" width="25%">Фактора риска (наименование по МКБ-10)</th>
		  <th rowspan="2" width="5%">Код МКБ-10</th>
		  <th colspan="4">Мужчины</th>
		  <th colspan="4">Женщины</th>
		  <th colspan="4">Всего</th>
		</tr>
		<tr>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет</th>
		  <th>Всего</th>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет</th>
		  <th>Всего</th>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет </th>
		  <th>Всего</th>
		</tr>
	  </thead>
	  <tbody>
      {% for t in tab4000 %}
		<tr>
		  <td>{{t.row}}</td>
		  <td>{{t.row.name1}}</td>
		  <td><input type="number" name="t4000_r{{t.row.id}}_c1" id="t4000_r{{t.row.id}}_c1" value="{{t.c1}}"></td>
		  <td><input type="number" name="t4000_r{{t.row.id}}_c2" id="t4000_r{{t.row.id}}_c2" value="{{t.c2}}"></td>
		  <td><input type="number" name="t4000_r{{t.row.id}}_c3" id="t4000_r{{t.row.id}}_c3" value="{{t.c3}}"></td>
		  <td class="cal" id="t4000_r{{t.row.id}}_c4">0</td>
		  <td><input type="number" name="t4000_r{{t.row.id}}_c5" id="t4000_r{{t.row.id}}_c5" value="{{t.c5}}"></td>
		  <td><input type="number" name="t4000_r{{t.row.id}}_c6" id="t4000_r{{t.row.id}}_c6" value="{{t.c6}}"></td>
		  <td><input type="number" name="t4000_r{{t.row.id}}_c7" id="t4000_r{{t.row.id}}_c7" value="{{t.c7}}"></td>
		  <td class="cal" id="t4000_r{{t.row.id}}_c8">0</td>
		  <td class="cal" id="t4000_r{{t.row.id}}_c9">0</td>
		  <td class="cal" id="t4000_r{{t.row.id}}_c10">0</td>
		  <td class="cal" id="t4000_r{{t.row.id}}_c11">0</td>
		  <td class="cal" id="t4000_r{{t.row.id}}_c12">0</td>
		</tr>
      {% endfor %} 
	  </tbody>
	</table>
	<table align="center" style="width:50%">
		<tr>
		  <th class="row_mess" colspan="3">4001 Установлено диспансерное наблюдение врачом (фельдшером):</th>
		</tr>
		<tr>
		  <td>кабинета или отделения медицинской профилактики:</td>
		  <td><input type="number" name="t4001_r1" value="{{doc.t4001_r1}}"></td>
		  <td>чел.</td>
		</tr>
		<tr>
		  <td>центра здоровья:</td>
		  <td><input type="number" name="t4001_r2" value="{{doc.t4001_r2}}"></td>
		  <td>чел.</td>
		</tr>
	</table>
	<table align="center" style="width:50%">
		<tr>
		  <th class="row_mess" colspan="3">4002 Направлено к врачу-психиатру (врачу-психиатру-наркологу)</th>
		</tr>
		<tr>
		  <td> в связи с выявленным риском пагубного потребления алкоголя: </td>
		  <td><input type="number" name="t4002_r1" value="{{doc.t4002_r1}}"></td>
		  <td>чел.</td>
		</tr>
		<tr>
		  <td>в связи с выявленным риском потребления наркотических средств и психотропных веществ без назначения врача:</td>
		  <td><input type="number" name="t4002_r2" value="{{doc.t4002_r2}}"></td>
		  <td>чел.</td>
		</tr>
	</table>
	<hr>
	<p>** Международная статистическая классификация болезней и проблем, связанных со здоровьем, 10-го пересмотра</p>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="panel5">
  	<table class="table">
	  <thead>
		<tr>
		  <th  class="row_mess" colspan="16">Сведения о выявленных при проведении диспансеризации заболеваниях (случаев)</th>
		<tr>
		  <th rowspan="2" width="15%">Заболевание</th>
		  <th rowspan="2" width="5%">Код МКБ-10</th>
		  <th colspan="4" width="30%">Мужчины</th>
		  <th colspan="4" width="30%">Женщины</th>
		  <th colspan="4">Всего</th>
		  <th rowspan="2">Установлено диспансерное наблюдение</th>
		</tr>
		<tr>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет</th>
		  <th>Всего</th>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет</th>
		  <th>Всего</th>
		  <th>21 – 36 лет</th>
		  <th> 37 – 60 лет</th>
		  <th> Старше 60 лет</th>
		  <th>Всего</th>
		</tr>
	  </thead>
	  <tbody>
      {% for t in tab5000 %}
		<tr>
		  <td>{{t.row}}</td>
		  <td>{{t.row.name1}}</td>
		  <td><input type="number" name="t5000_r{{t.row.id}}_c1" id="t5000_r{{t.row.id}}_c1" value="{{t.c1}}"></td>
		  <td><input type="number" name="t5000_r{{t.row.id}}_c2" id="t5000_r{{t.row.id}}_c2" value="{{t.c2}}"></td>
		  <td><input type="number" name="t5000_r{{t.row.id}}_c3" id="t5000_r{{t.row.id}}_c3" value="{{t.c3}}"></td>
		  <td class="cal" id="t5000_r{{t.row.id}}_c4">0</td>
		  <td><input type="number" name="t5000_r{{t.row.id}}_c5" id="t5000_r{{t.row.id}}_c5" value="{{t.c5}}"></td>
		  <td><input type="number" name="t5000_r{{t.row.id}}_c6" id="t5000_r{{t.row.id}}_c6" value="{{t.c6}}"></td>
		  <td><input type="number" name="t5000_r{{t.row.id}}_c7" id="t5000_r{{t.row.id}}_c7" value="{{t.c7}}"></td>
		  <td class="cal" id="t5000_r{{t.row.id}}_c8">0</td>
		  <td class="cal" id="t5000_r{{t.row.id}}_c9">0</td>
		  <td class="cal" id="t5000_r{{t.row.id}}_c10">0</td>
		  <td class="cal" id="t5000_r{{t.row.id}}_c11">0</td>
		  <td class="cal" id="t5000_r{{t.row.id}}_c12">0</td>
		  <td><input type="number" name="t5000_r{{t.row.id}}_c13" id="t5000_r{{t.row.id}}_c13" value="{{t.c13}}"></td>
		</tr>
      {% endfor %} 
	  </tbody>
	  <tfoot>
		<tr>
		  <td>ИТОГО заболеваний</td>
		  <td>А00-Т98</td>
		  <td class="cal" id="t5000_rS_c1"></td>
		  <td class="cal" id="t5000_rS_c2"></td>
		  <td class="cal" id="t5000_rS_c3"></td>
		  <td class="cal" id="t5000_rS_c4"></td>
		  <td class="cal" id="t5000_rS_c5"></td>
		  <td class="cal" id="t5000_rS_c6"></td>
		  <td class="cal" id="t5000_rS_c7"></td>
		  <td class="cal" id="t5000_rS_c8"></td>
		  <td class="cal" id="t5000_rS_c9"></td>
		  <td class="cal" id="t5000_rS_c10"></td>
		  <td class="cal" id="t5000_rS_c11"></td>
		  <td class="cal" id="t5000_rS_c12"></td>
		  <td class="cal" id="t5000_rS_c13"></td>
		</tr>
	  </tfoot>
	</table>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="panel6">
  	<table class="table">
	  <thead>
		<tr>
		  <th  class="row_mess" colspan="16">Сведения о впервые выявленных при проведении диспансеризации заболеваниях (случаев)</th>
		<tr>
		  <th rowspan="2" width="15%">Заболевание</th>
		  <th rowspan="2" width="5%">Код МКБ-10</th>
		  <th colspan="4" width="30%">Мужчины</th>
		  <th colspan="4" width="30%">Женщины</th>
		  <th colspan="4">Всего</th>
		  <th rowspan="2">Установлено диспансерное наблюдение</th>
		</tr>
		<tr>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет</th>
		  <th>Всего</th>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет</th>
		  <th>Всего</th>
		  <th>21 – 36 лет</th>
		  <th> 37 – 60 лет</th>
		  <th> Старше 60 лет</th>
		  <th>Всего</th>
		</tr>
	  </thead>
	  <tbody>
      {% for t in tab5001 %}
		<tr>
		  <td>{{t.row}}</td>
		  <td>{{t.row.name1}}</td>
		  <td><input type="number" name="t5001_r{{t.row.id}}_c1" id="t5001_r{{t.row.id}}_c1" value="{{t.c1}}"></td>
		  <td><input type="number" name="t5001_r{{t.row.id}}_c2" id="t5001_r{{t.row.id}}_c2" value="{{t.c2}}"></td>
		  <td><input type="number" name="t5001_r{{t.row.id}}_c3" id="t5001_r{{t.row.id}}_c3" value="{{t.c3}}"></td>
		  <td class="cal" id="t5001_r{{t.row.id}}_c4">0</td>
		  <td><input type="number" name="t5001_r{{t.row.id}}_c5" id="t5001_r{{t.row.id}}_c5" value="{{t.c5}}"></td>
		  <td><input type="number" name="t5001_r{{t.row.id}}_c6" id="t5001_r{{t.row.id}}_c6" value="{{t.c6}}"></td>
		  <td><input type="number" name="t5001_r{{t.row.id}}_c7" id="t5001_r{{t.row.id}}_c7" value="{{t.c7}}"></td>
		  <td class="cal" id="t5001_r{{t.row.id}}_c8">0</td>
		  <td class="cal" id="t5001_r{{t.row.id}}_c9">0</td>
		  <td class="cal" id="t5001_r{{t.row.id}}_c10">0</td>
		  <td class="cal" id="t5001_r{{t.row.id}}_c11">0</td>
		  <td class="cal" id="t5001_r{{t.row.id}}_c12">0</td>
		  <td><input type="number" name="t5001_r{{t.row.id}}_c13" id="t5001_r{{t.row.id}}_c13" value="{{t.c13}}"></td>
		</tr>
      {% endfor %} 
	  </tbody>
	  <tfoot>
		<tr>
		  <td>ИТОГО заболеваний</td>
		  <td>А00-Т98</td>
		  <td class="cal" id="t5001_rS_c1"></td>
		  <td class="cal" id="t5001_rS_c2"></td>
		  <td class="cal" id="t5001_rS_c3"></td>
		  <td class="cal" id="t5001_rS_c4"></td>
		  <td class="cal" id="t5001_rS_c5"></td>
		  <td class="cal" id="t5001_rS_c6"></td>
		  <td class="cal" id="t5001_rS_c7"></td>
		  <td class="cal" id="t5001_rS_c8"></td>
		  <td class="cal" id="t5001_rS_c9"></td>
		  <td class="cal" id="t5001_rS_c10"></td>
		  <td class="cal" id="t5001_rS_c11"></td>
		  <td class="cal" id="t5001_rS_c12"></td>
		  <td class="cal" id="t5001_rS_c13"></td>
		</tr>
	  </tfoot>
	</table>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="panel7">
  	<table class="table">
	  <thead>
		<tr>
		  <th  class="row_mess" colspan="16">Сведения об установленных при проведении диспансеризации предварительных диагнозах (случаев)</th>
		<tr>
		  <th rowspan="2" width="15%">Заболевание</th>
		  <th rowspan="2" width="5%">Код МКБ-10</th>
		  <th colspan="4" width="30%">Мужчины</th>
		  <th colspan="4" width="30%">Женщины</th>
		  <th colspan="4">Всего</th>
		  <th rowspan="2">Из них направлено на дополнительное обследование, не входящее в объем диспансеризации</th>
		</tr>
		<tr>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет</th>
		  <th>Всего</th>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет</th>
		  <th>Всего</th>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет</th>
		  <th>Всего</th>
		</tr>
	  </thead>
	  <tbody>
      {% for t in tab6000 %}
		<tr>
		  <td>{{t.row}}</td>
		  <td>{{t.row.name1}}</td>
		  <td><input type="number" name="t6000_r{{t.row.id}}_c1" id="t6000_r{{t.row.id}}_c1" value="{{t.c1}}"></td>
		  <td><input type="number" name="t6000_r{{t.row.id}}_c2" id="t6000_r{{t.row.id}}_c2" value="{{t.c2}}"></td>
		  <td><input type="number" name="t6000_r{{t.row.id}}_c3" id="t6000_r{{t.row.id}}_c3" value="{{t.c3}}"></td>
		  <td class="cal" id="t6000_r{{t.row.id}}_c4">0</td>
		  <td><input type="number" name="t6000_r{{t.row.id}}_c5" id="t6000_r{{t.row.id}}_c5" value="{{t.c5}}"></td>
		  <td><input type="number" name="t6000_r{{t.row.id}}_c6" id="t6000_r{{t.row.id}}_c6" value="{{t.c6}}"></td>
		  <td><input type="number" name="t6000_r{{t.row.id}}_c7" id="t6000_r{{t.row.id}}_c7" value="{{t.c7}}"></td>
		  <td class="cal" id="t6000_r{{t.row.id}}_c8">0</td>
		  <td class="cal" id="t6000_r{{t.row.id}}_c9">0</td>
		  <td class="cal" id="t6000_r{{t.row.id}}_c10">0</td>
		  <td class="cal" id="t6000_r{{t.row.id}}_c11">0</td>
		  <td class="cal" id="t6000_r{{t.row.id}}_c12">0</td>
		  <td><input type="number" name="t6000_r{{t.row.id}}_c13" id="t6000_r{{t.row.id}}_c13" value="{{t.c13}}"></td>
		</tr>
      {% endfor %} 
	  </tbody>
	  <tfoot>
		<tr>
		  <td>ИТОГО заболеваний</td>
		  <td>А00-Т98</td>
		  <td class="cal" id="t6000_rS_c1"></td>
		  <td class="cal" id="t6000_rS_c2"></td>
		  <td class="cal" id="t6000_rS_c3"></td>
		  <td class="cal" id="t6000_rS_c4"></td>
		  <td class="cal" id="t6000_rS_c5"></td>
		  <td class="cal" id="t6000_rS_c6"></td>
		  <td class="cal" id="t6000_rS_c7"></td>
		  <td class="cal" id="t6000_rS_c8"></td>
		  <td class="cal" id="t6000_rS_c9"></td>
		  <td class="cal" id="t6000_rS_c10"></td>
		  <td class="cal" id="t6000_rS_c11"></td>
		  <td class="cal" id="t6000_rS_c12"></td>
		  <td class="cal" id="t6000_rS_c13"></td>
		</tr>
	  </tfoot>
	</table>
  </section>
  
  <section role="tabpanel" aria-hidden="true" class="content" id="panel8">
  	<table class="table">
	  <thead>
		<tr>
		  <th class="row_mess" colspan="8">Общие результаты диспансеризации определенных групп взрослого населения</th>
		</tr>
		<tr>
		  <th rowspan="2">Результат диспансеризации определенных групп взрослого населения</th>
		  <th colspan="3">Мужчины</th>
		  <th colspan="3">Женщины</th>
		</tr>
		<tr>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет</th>
		  <th>21 – 36 лет</th>
		  <th>37 – 60 лет</th>
		  <th>Старше 60 лет</th>
		</tr>
	  </thead>
	  <tbody>	  
      {% for t in tab7000 %}
		<tr>
		  <td>{{t.row}}</td>
		  <td><input type="number" name="t7000_r{{t.row.id}}_c1" value="{{t.c1}}"></td>
		  <td><input type="number" name="t7000_r{{t.row.id}}_c2" value="{{t.c2}}"></td>
		  <td><input type="number" name="t7000_r{{t.row.id}}_c3" value="{{t.c3}}"></td>
		  <td><input type="number" name="t7000_r{{t.row.id}}_c4" value="{{t.c4}}"></td>
		  <td><input type="number" name="t7000_r{{t.row.id}}_c5" value="{{t.c5}}"></td>
		  <td><input type="number" name="t7000_r{{t.row.id}}_c6" value="{{t.c6}}"></td>
		</tr>
      {% endfor %} 
	  </tbody>
	</table>
	<table class="table">
	  <tbody>
		<tr>
		  <th width="70%">7001 Общее число работающих граждан, прошедших диспансеризацию</th>
		  <td><input type="number" name="t7001" value="{{doc.t7001}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <th>7002 Общее число неработающих граждан, прошедших диспансеризацию</th>
		  <td><input type="number" name="t7002" value="{{doc.t7002}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <th>7003 Общее число граждан, обучающихся в образовательных организациях по очной форме, прошедших диспансеризацию</th>
		  <td><input type="number" name="t7003" value="{{doc.t7003}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <th>7004 Общее число граждан, имеющих право на получение государственной социальной помощи в виде набора социальных услуг , прошедших диспансеризацию ***</th>
		  <td><input type="number" name="t7004" value="{{doc.t7004}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <td>из них:<br> - инвалиды войны</td>
		  <td><input type="number" name="t7004_r1" value="{{doc.t7004_r1}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <td>- участники Великой Отечественной войны </td>
		  <td><input type="number" name="t7004_r2" value="{{doc.t7004_r2}}"></td>
		  <td>человек</td>
		</tr>
		<tr>
		  <td>- ветераны боевых действий из числа лиц, указанных в подпунктах 1-4 пункта 1 статьи 3 Федерального закона от 12 января 1995 г. № 5-ФЗ «О ветеранах»</td>
		  <td><input type="number" name="t7004_r3" value="{{doc.t7004_r3}}"></td>
		  <td>человек</td>
		</tr>
		<tr>
		  <td>- военнослужащие, проходившие военную службу в воинских частях, учреждениях, военно-учебных заведениях, не входивших в состав действующей армии, в период с 22 июня 1941 года по 3 сентября 1945 года не менее шести месяцев, военнослужащие, награжденные орденами или медалями СССР за службу в указанный период </td>
		  <td><input type="number" name="t7004_r4" value="{{doc.t7004_r4}}"></td>
		  <td>человек</td>
		</tr>
		<tr>
		  <td>- лица, награжденные знаком «Жителю блокадного Ленинграда» и признанных инвалидами вследствие общего заболевания, трудового увечья и других причин (кроме лиц, инвалидность которых наступила вследствие их противоправных действий) </td>
		  <td><input type="number" name="t7004_r5" value="{{doc.t7004_r5}}"></td>
		  <td>человек</td>
		</tr>
		<tr>
		  <td>- лица, работавшие в период Великой Отечественной войны на объектах противовоздушной обороны, местной противовоздушной обороны, на строительстве оборонительных сооружений, военно-морских баз, аэродромов и других военных объектов в пределах тыловых границ действующих фронтов, операционных зон действующих флотов, на прифронтовых участках железных и автомобильных дорог, а также члены экипажей судов транспортного флота, интернированных в начале Великой Отечественной войны в портах других государств </td>
		  <td><input type="number" name="t7004_r6" value="{{doc.t7004_r6}}"></td>
		  <td>человек</td>
		</tr>
		<tr>
		  <td>- члены семей погибших (умерших) инвалидов войны, участников Великой Отечественной войны и ветеранов боевых действий, члены семей погибших в Великой Отечественной войне лиц из числа личного состава групп самозащиты объектовых и аварийных команд местной противовоздушной обороны, а также члены семей погибших работников госпиталей и больниц города Ленинграда </td>
		  <td><input type="number" name="t7004_r7" value="{{doc.t7004_r7}}"></td>
		  <td>человек</td>
		</tr>
		<tr>
		  <td>- инвалиды</td>
		  <td><input type="number" name="t7004_r8" value="{{doc.t7004_r8}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <th>7005 Общее число граждан, принадлежащих к коренным малочисленным народам Севера, Сибири и Дальнего Востока Российской Федерации, прошедших диспансеризацию</th>
		  <td><input type="number" name="t7005" value="{{doc.t7005}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <th>7006 Общее число медицинских организаций, оказывающих первичную медико-санитарную помощь, принимавших участие в проведении диспансеризации</th>
		  <td><input type="number" name="t7006" value="{{doc.t7006}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <td>из них: имеют кабинеты или отделения медицинской профилактики </td>
		  <td><input type="number" name="t7006_r1" value="{{doc.t7006_r1}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <th>7007 Общее число мобильных медицинских бригад, принимавших участие в проведении диспансеризации </th>
		  <td><input type="number" name="t7007" value="{{doc.t7007}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <th>7008 Общее число граждан, диспансеризация которых была проведена мобильными медицинскими бригадами</th>
		  <td><input type="number" name="t7008" value="{{doc.t7008}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <th>7009 Число письменных отказов от прохождения медицинских мероприятий в рамках диспансеризации </th>
		  <td><input type="number" name="t7009" value="{{doc.t7009}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <th>7010 Число письменных отказов от прохождения диспансеризации в целом </th>
		  <td><input type="number" name="t7010" value="{{doc.t7010}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <th>7011 Число граждан, прошедших первый этап диспансеризации и не завершивших второй этап диспансеризации, </th>
		  <td><input type="number" name="t7011" value="{{doc.t7011}}"></td>
		  <td>человек.</td>
		</tr>
		<tr>
		  <th>7012 Число граждан, проживающих в сельской местности, прошедших диспансеризацию</th>
		  <td><input type="number" name="t7012" value="{{doc.t7012}}"></td>
		  <td>человек.</td>
		</tr>
	  </tbody>
	</table>
	<p>*** Статья 6.1 Федерального закона от 17 июля 1999 г. № 178-ФЗ «О государственной социальной помощи» (Собрание законодательства Российской Федерации, 1999, № 24, ст. 3699; 2004, № 35, ст. 3607).</p>
  </section>
</div>
<span id="t1000_S" hidden="hidden">{{tab1000.0.row.id}}</span><span id="t1000_F" hidden="hidden">{{tab1000.last.row.id}}</span>
<span id="t3000_S" hidden="hidden">{{tab3000.0.row.id}}</span><span id="t3000_F" hidden="hidden">{{tab3000.last.row.id}}</span>
<span id="t5000_S" hidden="hidden">{{tab5000.0.row.id}}</span><span id="t5000_F" hidden="hidden">{{tab5000.last.row.id}}</span>
<span id="t5001_S" hidden="hidden">{{tab5001.0.row.id}}</span><span id="t5001_F" hidden="hidden">{{tab5001.last.row.id}}</span>
<span id="t6000_S" hidden="hidden">{{tab6000.0.row.id}}</span><span id="t6000_F" hidden="hidden">{{tab6000.last.row.id}}</span>
<script>
  function calCell (t, r, c) {
    
    switch (t) {
	  case '1000':
	    switch (c) {
		  case '1': case '2': case '3': case '4':
	        $('#t' + t + '_r' + r + '_c' + c).html(
		      (parseInt($('#t' + t + '_r' + r + '_c' + (parseInt(c) + 4)).val()) + parseInt($('#t' + t + '_r' + r + '_c' + (parseInt(c) + 8)).val()))||
              (parseInt($('#t' + t + '_r' + r + '_c' + (parseInt(c) + 4)).html()) + parseInt($('#t' + t + '_r' + r + '_c' + (parseInt(c) + 8)).html()))||
		      0)
	        break;
	      case '5': case '6': case '7': case '8':
		    $('#t' + t + '_r' + r + '_c' + (parseInt(c) - 4)).html(
		      (parseInt($('#t' + t + '_r' + r + '_c' + c).val()) + parseInt($('#t' + t + '_r' + r + '_c' + (parseInt(c) + 4)).val()))||
              (parseInt($('#t' + t + '_r' + r + '_c' + c).html()) + parseInt($('#t' + t + '_r' + r + '_c' + (parseInt(c) + 4)).html()))||
		      0);
			sumCell(t, parseInt(c) - 4);
		    break;
	      case '9': case '10': case '11': case '12':
		    $('#t' + t + '_r' + r + '_c' + (parseInt(c) - 8)).html(
		      (parseInt($('#t' + t + '_r' + r + '_c' + (parseInt(c) - 4)).val()) + parseInt($('#t' + t + '_r' + r + '_c' + c).val()))||
              (parseInt($('#t' + t + '_r' + r + '_c' + (parseInt(c) - 4)).html()) + parseInt($('#t' + t + '_r' + r + '_c' + c).html()))||
		      0);
			sumCell(t, parseInt(c) - 8);
		    break;
		}
	    break;
      case '4000': case '5000': case '5001': case '6000':
	  // суммирование происходит по строкам 
        switch (c) {
          // сумирование для столбца мужчины/всего 
          case '1': case '2': case '3': case '4':
            $('#t' + t + '_r' + r + '_c4').html(
		      (parseInt($('#t' + t + '_r' + r + '_c1').val()) + parseInt($('#t' + t + '_r' + r + '_c2').val()) + parseInt($('#t' + t + '_r' + r + '_c3').val()))||
              (parseInt($('#t' + t + '_r' + r + '_c1').html()) + parseInt($('#t' + t + '_r' + r + '_c2').html()) + parseInt($('#t' + t + '_r' + r + '_c3').html()))||
		      0);
            break;
          // сумирование для столбца женщины/всего
          case '5': case '6': case '7': case '8':
            $('#t' + t + '_r' + r + '_c8').html(
	          (parseInt($('#t' + t + '_r' + r + '_c5').val()) + parseInt($('#t' + t + '_r' + r + '_c6').val()) + parseInt($('#t' + t + '_r' + r + '_c7').val()))||
		      (parseInt($('#t' + t + '_r' + r + '_c5').html()) + parseInt($('#t' + t + '_r' + r + '_c6').html()) + parseInt($('#t' + t + '_r' + r + '_c7').html()))||
		      0);
            break;
	    } 
        switch (c) {
          // сумирование для столбца всего/21-36 лет
          case '1': case '5': case '9':
            $('#t' + t + '_r' + r + '_c9').html(
		      (parseInt($('#t' + t + '_r' + r + '_c1').val()) + parseInt($('#t' + t + '_r' + r + '_c5').val()))||
		      (parseInt($('#t' + t + '_r' + r + '_c1').html()) + parseInt($('#t' + t + '_r' + r + '_c5').html()))||
		      0);
            break;
          // сумирование для столбца всего/37-60 лет
          case '2': case '6': case '10':
            $('#t' + t + '_r' + r + '_c10').html(
		      (parseInt($('#t' + t + '_r' + r + '_c2').val()) + parseInt($('#t' + t + '_r' + r + '_c6').val()))||
		      (parseInt($('#t' + t + '_r' + r + '_c2').html()) + parseInt($('#t' + t + '_r' + r + '_c6').html()))||
              0);
            break;
          // сумирование для столбца всего/более 60 лет
          case '3': case '7': case '11':
            $('#t' + t + '_r' + r + '_c11').html(
		      (parseInt($('#t' + t + '_r' + r + '_c3').val()) + parseInt($('#t' + t + '_r' + r + '_c7').val()))||
		      (parseInt($('#t' + t + '_r' + r + '_c3').html()) + parseInt($('#t' + t + '_r' + r + '_c7').html()))||
		      0);
		    break;
        }
        // суммирование для столбца всего/всего
        $('#t' + t + '_r' + r + '_c12').html(parseInt($('#t' + t + '_r' + r + '_c9').html()) + parseInt($('#t' + t + '_r' + r + '_c10').html()) + parseInt($('#t' + t + '_r' + r + '_c11').html()));
	    break;
	}
  }
  function sumCell (t, c){ // Строка "Итого"
    sum = 0;
	s = parseInt($('#t' + t + '_S').html());
	f = parseInt($('#t' + t + '_F').html());
	if ((t == '5000') || ( t == '5001') || (t == '6000')) {
	  if (t == '5000') {
	    s = 0
		f = 0
	  }
	  else 
	    f = f + 1
	  sum = parseInt($('#t' + t + '_r' + (51 + f - s) + '_c' + c).val()||$('#t' + t + '_r' + (51 + f - s) + '_c' + c).html()||0)
          + parseInt($('#t' + t + '_r' + (53 + f - s) + '_c' + c).val()||$('#t' + t + '_r' + (53 + f - s) + '_c' + c).html()||0) 
		  + parseInt($('#t' + t + '_r' + (79 + f - s) + '_c' + c).val()||$('#t' + t + '_r' + (79 + f - s) + '_c' + c).html()||0)
		  + parseInt($('#t' + t + '_r' + (81 + f - s) + '_c' + c).val()||$('#t' + t + '_r' + (81 + f - s) + '_c' + c).html()||0)
		  + parseInt($('#t' + t + '_r' + (85 + f - s) + '_c' + c).val()||$('#t' + t + '_r' + (85 + f - s) + '_c' + c).html()||0)
		  + parseInt($('#t' + t + '_r' + (87 + f - s) + '_c' + c).val()||$('#t' + t + '_r' + (87 + f - s) + '_c' + c).html()||0)
		  + parseInt($('#t' + t + '_r' + (91 + f - s) + '_c' + c).val()||$('#t' + t + '_r' + (91 + f - s) + '_c' + c).html()||0)
		  + parseInt($('#t' + t + '_r' + (104 + f - s) + '_c' + c).val()||$('#t' + t + '_r' + (104 + f - s) + '_c' + c).html()||0)
		  + parseInt($('#t' + t + '_r' + (108 + f - s) + '_c' + c).val()||$('#t' + t + '_r' + (108 + f - s) + '_c' + c).html()||0)
		  + parseInt($('#t' + t + '_r' + (113 + f - s) + '_c' + c).val()||$('#t' + t + '_r' + (113 + f - s) + '_c' + c).html()||0)
		  + parseInt($('#t' + t + '_r' + (117 + f - s) + '_c' + c).val()||$('#t' + t + '_r' + (117 + f - s) + '_c' + c).html()||0)
	}
	else
	  for (var i = s; i <= f; i++) {
	    sum = sum + parseInt($('#t' + t + '_r' + i + '_c' + c).val()||$('#t' + t + '_r' + i + '_c' + c).html()||0);
	  }
	$('#t' + t + '_rS_c' + c).html(sum);
  }
  $('input').blur ( function () {
    pole = $(this).attr('name').split('_');
	if ((pole[0].slice(1) == 1000) || (pole[0].slice(1) == 4000) || (pole[0].slice(1) == 5000) || (pole[0].slice(1) == 5001) || (pole[0].slice(1) == 6000)) 
	  calCell(pole[0].slice(1), pole[1].slice(1), pole[2].slice(1)); 
	if ((pole[0].slice(1) == 1000) || (pole[0].slice(1) == 5000) || (pole[0].slice(1) == 5001) || (pole[0].slice(1) == 6000)) {
	  sumCell(pole[0].slice(1), pole[2].slice(1));
	  if ((pole[0].slice(1) == 5000) || (pole[0].slice(1) == 5001) || (pole[0].slice(1) == 6000)) 
	    calCell(pole[0].slice(1), 'S', pole[2].slice(1)); 
	}
  })

  function valCell (t, r, c) {
	    val = parseInt($('#t' + t + '_r' + r + '_c' + c).val());
	    return val;
  } 

  function validate_form ( hndl ) {
	   /* alert("Hi there! val=" + valCell("1000","1","7"));*/
	    var attrtype = $(hndl).attr('type')
	    var attrname = $(hadl).attr('name')
	    
	    
	    if(valCell("1000","1","7") >= valCell("1000","1","8")) {
	    	$("#errmess").html("Ошибок нет")
	    	return true;
	    }
	    else {
	    	$("#errmess").html("Ошибка 1. Значение 1 этапа должно быть больше чем 2-го")
	    	return false;
	    }
	  
  }

  function isValid (){ 
   /* alert("Hi there! val=" + valCell("1000","1","7"));*/
    if(valCell("1000","1","7") >= valCell("1000","1","8")) {
    	$("#errmess").html("Ошибок нет")
    	return true;
    }
    else {
    	$("#errmess").html("Ошибка 1. Значение 1 этапа должно быть больше чем 2-го")
    	return false;
    }
  }
  
  
  $(document).ready ( function () {
    $('.cal',this).each ( function () {
	  pole = $(this).attr('id').split('_');
	  if (pole[1].slice(1) == 'S') sumCell(pole[0].slice(1), pole[2].slice(1));
	  else calCell(pole[0].slice(1), pole[1].slice(1), pole[2].slice(1));
	})
    $(document).ready ( function () { 
/* 	   $("#btntest").bind("click",function(event){alert("Hi there!");}); */
 	   $("#btnSend").bind("click",function(event){
 		   return isValid(); 
 	   }); 
    })

  })
  
  $('.number').blur ( function() {
    if ($(this).val() == '') {$(this).val(0)} 
  })
  $('input^[type="number"]').blur ( function() {
    if ($(this).val() == '') {$(this).val(0)} 
  })

  
</script>
{% endblock %}