{% extends 'main.html' %}
{% load staticfiles %}

{% block monitorlist %}
<div class="row">
<div class="large-12 columns">
<div class="large-8 medium-8 columns">


{% if doc_type_list %}
     {% for q in doc_type_list %}
         <h4><a href="/form/{{q.type.id}}">{{ q.type.name }}</a></h4>
         <hr>
{% comment %}
         <h4><a href="/form/{{q.id}}">{{ q.name }}</a></h4>
         <hr>
{% endcomment %}

    {% endfor %}
 {% else %} 
    <p>Мониторинги не найдены</p>
{% endif %}

</div>
<div class="large-4 medium-4 columns">
</div>
</div>
</div>
{% endblock %}
